/**** CSS for China Constuction Bank perbank ****/
/**** zhoujun e-Channels ****/
/**** First created on 2007.02.13 ****/

/**** Page Structure / 页面结构设置 ****/

* { 
margin:0; 
padding:0; 
}
img {
border:0;
}

body,div,td,span,input,select,p {
font:12px "宋体",Tahoma;
}

body {
background:transparent;
padding:0;
margin:0;
}

#Page_content { 
width:960px;
padding:0;
margin:0 auto;
}

#Header {
/*background:url(../../images/blueup/logo_right.gif) right top no-repeat;*/
}

#logo {
background:url(../../images/blueup/logo_border.gif) right bottom repeat-x;
}

/** shortcut **/

#shortcut {
float:right;
margin-top:10px;
margin-right:14px;
font-weight:bold;
}

#shortcut a {
color:#6C6C6C;
text-decoration:none;
}

#shortcut a:hover {
color:#6C6C6C;
text-decoration:none;
}

#shortcut img {
vertical-align:text-bottom;
}
.logo_setting {
background:url(../../images/blueup/logo_setting.gif) left top no-repeat;
padding-top:5px;
padding-left:22px;
margin-left:10px;
height:23px;
float:left;
}
.logo_map {
background:url(../../images/blueup/logo_map.gif) left top no-repeat;
padding-top:5px;
padding-left:22px;
margin-left:10px;
height:23px;
float:left;
}
.logo_help {
background:url(../../images/blueup/logo_help.gif) left top no-repeat;
padding-top:5px;
padding-left:22px;
margin-left:10px;
height:23px;
float:left;
}
/** use as pic **/
.logo_icon {
background:url(../../images/blueup/logo_icon.gif) left top no-repeat;
width:158px;
height:55px;
}
.logo_icon_bottom {
background:url(../../images/blueup/logo_icon_bottom.gif) left bottom no-repeat;
width:158px;
height:27px;
margin-right:-4px;
float:left;
clear:both;
}
/** other frames **/
#Page_left {
width:186px;
float:left;
background:#eff5fd;
}

.slide_l {
background:url(../../images/blueup/info_middle_slide.gif) left top no-repeat;
cursor:pointer;
vertical-align:top;
margin-top:130px;
width:10px;
height:108px;
}

.slide_r {
background:url(../../images/blueup/info_middle_slide2.gif) left top no-repeat;
cursor:pointer;
vertical-align:top;
margin-top:130px;
width:10px;
height:108px;
}

#Page_right {
margin:0 auto;
width:880px;
}
#Page_middle {
float:left;
height:600px;
background:url(../../images/blueup/d6e7fd.gif) left top repeat-y;
}

#Footer {
text-align:center;
color:#333333;
float:left;
}

.footer_td {
background:url(../../images/blueup/939393.gif) left top repeat-x;
}

.footer_left {
background:url(../../images/blueup/939393.gif) left top repeat-x;
width:7px;
height:31px;
float:left;
}

.footer_right {
background:url(../../images/blueup/939393.gif) left top repeat-x;
width:7px;
height:31px;
display:inline;
float:right;
}

#menu_lv1 {
background:url(../../images/blueup/4e7bb9.gif) left bottom repeat-x;
height:27px;
margin-left:0px;
}

.menu1_front {

}

.menu1_on {
background:url(../../images/blueup/menu1_on_right.gif) right bottom no-repeat;
float:left;
font-size:13px;
margin-left:5px;
}

.menu1_on a,
.menu1_on a:visited {
display:block;
color:#28538e;
font-weight:bold;
background:url(../../images/blueup/menu1_on_left.gif) left bottom no-repeat;
text-decoration:none;
padding:8px 14px 4px 17px;
}

.menu1_off {
background:url(../../images/blueup/menu1_off_right.gif) right bottom no-repeat;
float:left;
font-size:13px;
margin-left:5px;
}

.menu1_off a,
.menu1_off a:visited {
display:block;
color:#828282;
font-weight:bold;
background:url(../../images/blueup/menu1_off_left.gif) left bottom no-repeat;
text-decoration:none;
padding:8px 14px 4px 17px;
}

.menu1_active {
background:url(../../images/blueup/menu1_act_right.gif) right bottom no-repeat;
float:left;
font-size:13px;
margin-left:5px;
}

.menu1_active a,
.menu1_active a:visited {
display:block;
color:#828282;
font-weight:bold;
background:url(../../images/blueup/menu1_act_left.gif) left bottom no-repeat;
text-decoration:none;
padding:8px 14px 4px 17px;
}
/** menu lv2 **/

#menu_lv2 {
float:left;
}

.menu_lv2_td {
background:#cfe0f8 url(../../images/blueup/menu_lv2_bg.gif) left top repeat-x;
padding-left:50px;
}

.menu_lv2_left {
background:#cfe0f8 url(../../images/blueup/menu_lv2_left.gif) left top no-repeat;
}

.menu2_off {
color:#4e7bb9;
float:left;
}
.menu2_off a,
.menu2_off a:visited  {
text-decoration:none;
display:block;
color:#4e7bb9;
padding:7px 12px 4px 12px;
}

.menu2_off a:hover{
text-decoration:underline;
}

.menu2_on {
background:url(../../images/blueup/menu2_on_right.gif) right bottom repeat-x;
float:left;
}
.menu2_on a,
.menu2_on a:visited {
display:block;
background:url(../../images/blueup/menu2_on_left.gif) left bottom no-repeat;
text-decoration:none;
font-weight:bold;
color:#28538e;
padding:7px 10px 4px 10px;
}

.menu_lv2_item div {
vertical-align:0%;
}

.menu_lv2_item a:hover {
/*color:#E3384A;*/
}

.menu2_middle {
background: url(../../images/blueup/menu2_middle.gif) left top no-repeat;
font-size:16px;
float:left;
display:inline;
}

.menu_exit{
background:url(../../images/blueup/menu_lv2_right.gif) right 2px no-repeat;
width:48px;
height:20px;
cursor:pointer;
}

.menu_exit img{
vertical-align:top;
padding:0px 0px 3px 23px;
cursor:pointer;
}

/*** info ***/

.info_time {
color:#070707;
font-weight:bold;
width:128px;
float:left;
}
.info_time_cornor {
float:left;
background:#fff;
padding:5px 6px 3px 13px;
border: 1px dashed #a2c66d;
}
/*** form ***/
.form_content_head {
background:#e7ecf0;
padding:5px 12px;
height:27px !important;
height:26px;
}
/***menuskin***/
.menuskin {
border-right : 1px solid #5D5D5D;
border-bottom : 1px solid #3C3C3C;
visibility : hidden;
font-size : 12px;
position : absolute;
color : #595757;
background-color : #EBEBEB;
background-repeat : repeat-y;
/*filter:alpha(opacity=90);*/
} 
.menuskin td {
line-height:25px;
padding-right : 15px;
padding-left : 20px;
text-decoration : none;

}
.menuskin td.menu3_td {
background:url(../../images/blueup/menu3_arrow.gif) right top no-repeat;
}
.menuskin td.menu3_td {
background:url(../../images/blueup/menu3_arrow.gif) right top no-repeat;
}

.menuskin img {
vertical-align:middle;
}
.menu3_div {

}
.menu3_div_on {
background-color:#AFD6FD;
color:#0596C7;
}
.menu3_divide {
padding:1px 5px;
background:url(../../images/blueup/menu3_divide.gif) left top repeat-x;
}
/*** 滚动区域 ***/
#textdiv1 {
margin-top:2px;
float:left;
}
/*** 短消息 ***/
.minims {
background:url(../../images/blueup/mms.gif) left top no-repeat;
color:#ff8a00;
float:left;
margin-left:12px;
padding:2px 0px 0px 21px;
}
/*** 银行公告 ***/
.banknotice {
background:url(../../images/blueup/bank_notice.gif) left top no-repeat;
color:#ff8a00;
float:left;
padding:2px 0px 0px 21px;
}
.qj {
background:#cfe0f8;
float:left;
height:25px;
display:inline;
}
#qj {
float:right;
margin-right:10px;
margin-top:3px;
}
/*** misc ***/

.clear {clear:both;}
.text_center {text-align:center;}
.text_right {text-align:right;}