/**信贷管理系统
 * @version  2014-05-16
 * @author wangms2@yuchengtech.com
 */ 
 
@charset "utf-8";
/**-- Document Css Start --**/
body{font-size:12px;background-color:#fff;margin:0;color:#020000;line-height:140%;
font-family:SimSun,"Microsoft Yahei",Verdana, Geneva, Arial, Helvetica, sans-serif;}
p,form,img,ul,li,ol,dl,dt,dd,table,td,th{margin:0;padding:0;}
li{list-style:none;}
img{border:none;}
table{border-collapse:collapse;}
a{text-decoration:none;}
a:link {font-size: 12px;color: #020000;}
a:visited {font-size: 12px;	color: #545454;}
a:hover {font-size: 12px; color: #ff0000;}
a:active {font-size: 12px; color: #222;}
input,select,option,textarea{font-size:12px;}
select{border-color:#b7b7b7;}
fieldset{border:1px solid #c2c2c2;}
iframe{border:none;}
/**-- Document Css end --**/

/** shortcut **/
#shortcut {float: right;margin-top: 10px;margin-right: 14px;font-weight: bold;}
#shortcut a {color: #6C6C6C;text-decoration: none;}
#shortcut a:hover {color: #6C6C6C;text-decoration: none;}
#shortcut img {vertical-align: text-bottom;}
.logo_setting {background: url(../../images/blueidea/logo_setting.gif) left top no-repeat;
padding-top: 2px;padding-left: 22px;margin-left: 10px;height: 17px;float: left;}
.logo_map {background: url(../../images/blueidea/logo_map.gif) left top no-repeat;
padding-top: 2px;padding-left: 22px;margin-left: 10px;height: 17px;float: left;}
.logo_message {background: url(../../images/blueidea/logo_mms.gif) left top no-repeat;
padding-top: 2px;padding-left: 22px;margin-left: 10px;height: 17px;float: left;}
.logo_help {
background: url(../../images/blueidea/logo_help.gif) left top no-repeat;
padding-top: 2px;padding-left: 22px;margin-left: 10px;height: 17px;float: left;}

/** use as pic **/
.logo_icon {background: url(../../images/blueidea/logo_icon.gif) left top no-repeat;
width: 1024px;height: 50px;}
.logo_icon_bottom {width: 418px;height: 40px;margin-right: 30px;float: left;}

/** other frames **/
#Page_left {width: 180px;height: 542px;float: left;background: url(../../images/treeback.jpg);
border: 2px solid #4499ee;padding-left: 6px;overflow: auto;}
#Page_left_detail_page {width: 155px;height: 542px;float: left;border: 1px solid #c2c2c2;
padding-left: 6px;overflow: auto;background-color:#f3f3f3;}
.slide_l {background: url(../../images/blueidea/info_middle_slide.gif) left top no-repeat;
cursor: pointer;vertical-align: top;margin-top: 130px;width: 10px;height: 108px;}
.slide_r {background: url(../../images/blueidea/info_middle_slide2.gif) left top no-repeat;
cursor: pointer;vertical-align: top;margin-top: 130px;width: 10px;height: 108px;}
#Page_right {float: left;width: 81.1%;height: 542px;border:1px solid #c2c2c2;}
#Page_middle {float: left;height: 542px;background: url(../../images/blueidea/main_back.gif);}
#Footer {text-align: center;color: #fff;float: left;}
.footer_td {background: url(../../images/blueidea/footer_middle.gif) left top repeat-x;}
.footer_left {background: url(../../images/blueidea/footer_left.gif) left top no-repeat;
width: 7px;height: 31px;float: left;}
.footer_right {
background: url(../../images/blueidea/footer_right.gif) left top no-repeat;
width: 7px;height: 31px;display: inline;float: right;}
.menu_exit {background: url(../../images/blueidea/menu_lv2_right.gif) left top no-repeat;}
.menu_exit img {vertical-align: top;padding: 0px 0px 3px 23px;cursor: pointer;}

/*** info ***/
.info_time {background: url(../../images/blueidea/info_time.gif) left top repeat-x;
padding: 6px 6px 6px 13px;color: #fff;font-weight: bold;width: 167px;float: left;}
.info_time_cornor {float: left;background: url(../../images/blueidea/info_middle_top.gif) left top no-repeat;
height: 27px !important;height: 26px;width: 25px;}

/***menuskin***/
.menuskin {border-right: 1px solid #5D5D5D;border-bottom: 1px solid #3C3C3C;visibility: hidden;font-size: 12px;
position: absolute;color: #595757;background-color: #EBEBEB;background-repeat: repeat-y;/*filter:alpha(opacity=90);*/}
.menuskin td {line-height: 25px;padding-right: 15px;padding-left: 20px;text-decoration: none;}
.menuskin td.menu3_td {background: url(../../images/blueidea/menu3_arrow.gif) right top no-repeat;}
.menuskin td.menu3_td {background: url(../../images/blueidea/menu3_arrow.gif) right top no-repeat;}
.menuskin img {vertical-align: middle;}
.menu3_div {}
.menu3_div_on {background-color: #AFD6FD;color: #0596C7;}
.menu3_divide {padding: 1px 5px;background: url(../../images/blueidea/menu3_divide.gif) left top repeat-x;}

/*** misc ***/
.clear {clear: both;}
.text_center {text-align: center;}
.text_right {text-align: right;}

.total_info_header {border: 2px solid #4499ee;border-bottom: 0px solid #4499ee;width: 99.5%;height: 30px;
font: "新宋体";font-size: 18px;padding-top: 10px;font-stretch: condensed;}