#set ($tableModelName=${TableModel.tableId})
#set($lowerName=${tableModelName.toLowerCase()})
#set($pkList=${TableModel.getPks()})
package com.yucheng.cmis.ops.${packageName}${lowerName};

import java.sql.Connection;
#if(${pkList.size()}>1)
import java.util.HashMap;
import java.util.Map;	
#end

import com.ecc.emp.core.Context;
import com.ecc.emp.core.EMPException;
import com.ecc.emp.data.IndexedCollection;
import com.ecc.emp.data.KeyedCollection;
import com.ecc.emp.dbmodel.service.TableModelDAO;
import com.ecc.emp.jdbc.EMPJDBCException;
import com.yucheng.cmis.operation.CMISOperation;

public class Query${tableModelName}DetailOp extends CMISOperation {

	private final String modelId = "${tableModelName}";

#foreach(${pk} in ${pkList})
	private final String ${pk}_name = "${pk}";
#end

	public String doExecute(Context context) throws EMPException {
		Connection connection = null;
		try{
			connection = this.getConnection(context);
			String condition="";

#foreach(${pk} in ${pkList})
			String ${pk}_value = null;
			try {
				${pk}_value = (String)context.getDataValue(${pk}_name);
			} catch (Exception e) {}
			if(${pk}_value == null || ${pk}_value.length() == 0)
				throw new EMPJDBCException("The value of pk["+${pk}_name+"] cannot be null!");
#end
			
			TableModelDAO dao = this.getTableModelDAO(context);
#if(${pkList.size()}==1)
			KeyedCollection kColl = dao.queryAllDetail(modelId, ${pkList.get(0)}_value, connection);
#else
			Map pkMap = new HashMap();
#foreach(${pk} in ${pkList})
			pkMap.put("${pk}",${pk}_value);
#end
			KeyedCollection kColl = dao.queryAllDetail(modelId, pkMap, connection);
#end
			this.putDataElement2Context(kColl, context);

#foreach($multiWra in ${TableModel.one2multiList})
			condition=" where ${multiWra.toField}='"+${multiWra.fromField}_value+"'";
			IndexedCollection iColl_${multiWra.refModelId} = dao.queryList("${multiWra.refModelId}",condition, connection);
			this.putDataElement2Context(iColl_${multiWra.refModelId}, context);
			
#end
		}catch (EMPException ee) {
			throw ee;
		} catch(Exception e){
			throw new EMPException(e);
		} finally {
			if (connection != null)
				this.releaseConnection(context, connection);
		}
		return "0";
	}	
}
