#set ($tableModelName=${TableModel.tableId})
<%@page language="java" contentType="text/html; charset=${jspEncode}"%>
<%@taglib uri="/WEB-INF/emp.tld" prefix="emp" %>
<emp:page>
<html>
<head>
<title>详情查询页面</title>

<jsp:include page="/include.jsp" flush="true"/>

<%
	request.setAttribute("canwrite","");
%>

<script type="text/javascript">
	
	function doReturn() {
		var url = '<emp:url action="query${tableModelName}List.do"/>';
		url = EMPTools.encodeURI(url);
		window.location=url;
	};
	
	/*--user code begin--*/
			
	/*--user code end--*/
	
</script>
</head>
<body class="page_content">
	
	<emp:gridLayout id="${tableModelName}Group" title="${TableModel.tableCnname}" maxColumn="2">
#foreach(${fieldWra} in ${TableModel.fieldsList})
#if(${TableModel.isFK4one2one(${fieldWra})}==false)
	#set ($jspTagType=${fieldWra.getJSPTag()})
		${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end
##从表字段
#foreach(${one2oneFieldsWra} in ${TableModel.one2oneList})
#if(${one2oneFieldsWra.getPrimaryKeyRelated()}==true)
#foreach(${fieldWra} in ${one2oneFieldsWra.fieldsList})
#if(${fieldWra.isPK()}==false)
#set ($jspTagType=${fieldWra.getJSPTag()})
		${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end
#else ##非主键关联
#foreach(${fieldWra} in ${one2oneFieldsWra.fieldsList})
#set ($jspTagType=${fieldWra.getJSPTag()})
		${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end
#end	
	</emp:gridLayout>

	<div align="center">
		<br>
		<emp:button id="return" label="返回到列表页面"/>
	</div>
</body>
</html>
</emp:page>
