
table.lpcTable{
	border:1px solid #b7b7b7;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
table.indexTable{
	border:0 px solid #6699FF;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
tr.tableTitle {
	background-color:#CBE0FD;
	border:1px solid #b7b7b7;
	color:#040404;
	padding:5px 10px;
	text-align:left;
}
th {
	border-width: 1px;
	border-color: #b7b7b7;
	border-style: solid;
	padding: 5px 10px;
	background-color: #CBE0FD;
	color: #040404;
	text-align: center;
}
tr.tableBody{
	background-color: #FFF;	
}
.titleSerno,bodySerno{
	align:"center";
	width:8%;
}
.titleGroup,bodyGroup{
	align:"center";	
	width:14%;
}
.titleWeight,bodyWeight{
	align:"center";
	width:8%;
}
.titleIndex{
	width:15%;
}
.titleOption{
	align:"center";
	width:45%;
}
.titleScore{
	align:"center";
	width:10%;
}
td.bodySerno{
	border-width: 1px;
	border-color: #b7b7b7;
	border-style: solid;
	padding: 0px 3px;
	overflow: visible;
}
td.bodySerno,td.bodyGroup,td.bodyWeight{
	border-width: 1px;
	border-color: #b7b7b7;
	border-style: solid;
	padding: 0px 3px;
	overflow: visible;
}

td.bodyIndex,td.bodyOption,td.bodyScore{
	border-width: 1px;
	border-color: #b7b7b7;
	border-style: solid;
	padding: 0px 3px;
	overflow: visible;
}

.bodyIndex{
	width:15%;
	align:"left";
}

.bodyOption{
	width:45%;
	align:"left";
}

.bodyScore{
	width:10%;
	align:"center";
}
