/**** CSS for China Constuction Bank perbank ****/
/**** zhoujun e-Channels ****/
/**** First created on 2007.02.13 ****/

* { 
margin:0; 
padding:0; 
}
img {
border:0;
}

body,div,td,span,input,select,p {
font:12px "ו",Tahoma;
}

body {
background:transparent;
padding:0;
margin:0;
}

#Page_content { 
width:960px;
padding:0;
margin:0 auto;
}

#Header {
/*background:url(../../images/greenidea/logo_right.gif) right top no-repeat;*/
}

#logo {
background:url(../../images/greenidea/menu1_off.gif) right bottom repeat-x;
}

/** shortcut **/

#shortcut {
float:right;
margin-top:10px;
margin-right:14px;
font-weight:bold;
}

#shortcut a {
color:#6C6C6C;
text-decoration:none;
}

#shortcut a:hover {
color:#6C6C6C;
text-decoration:none;
}

#shortcut img {
vertical-align:text-bottom;
}
.logo_setting {
background:url(../../images/greenidea/logo_setting.gif) left top no-repeat;
padding-top:5px;
padding-left:22px;
margin-left:10px;
height:23px;
float:left;
}
.logo_map {
background:url(../../images/greenidea/logo_map.gif) left top no-repeat;
padding-top:5px;
padding-left:22px;
margin-left:10px;
height:23px;
float:left;
}
.logo_help {
background:url(../../images/greenidea/logo_help.gif) left top no-repeat;
padding-top:5px;
padding-left:22px;
margin-left:10px;
height:23px;
float:left;
}
/** use as pic **/
.logo_icon {
background:url(../../images/greenidea/logo_icon.gif) left top no-repeat;
width:162px;
height:53px;
}
.logo_icon_bottom {
background:url(../../images/greenidea/logo_icon_bottom.gif) left bottom no-repeat;
width:158px;
height:29px;
margin-right:0px !important;
margin-right:-3px;
float:left;
}
/** other frames **/
#Page_left {
width:186px;
float:left;
background:#f4f4f4;
}

.slide_l {
background:url(../../images/greenidea/info_middle_slide.gif) left top no-repeat;
cursor:pointer;
vertical-align:top;
margin-top:130px;
width:11px;
height:108px;
}

.slide_r {
background:url(../../images/greenidea/info_middle_slide2.gif) left top no-repeat;
cursor:pointer;
vertical-align:top;
margin-top:130px;
width:11px;
height:108px;
}

#Page_right {
float:right;
}
#Page_middle {
float:left;
height:600px;
background:url(../../images/greenidea/b1b1b1.gif) left top repeat-y;
}

#Footer {
text-align:center;
color:#fff;
float:left;
}

.footer_td {
background:#d7d7d7;
}

.footer_left {
background:#d7d7d7;
width:7px;
height:31px;
float:left;
}

.footer_right {
background:#d7d7d7;
width:7px;
height:31px;
display:inline;
float:right;
}

#menu_lv1 {
background:url(../../images/greenidea/menu1_end.gif) right bottom no-repeat;
height:29px;
margin-left:0px;
}

.menu1_front {
background:url(../../images/greenidea/menu1_front.gif) left top no-repeat;
width:5px;
height:29px;
float:left;
}

.menu1_on {
background:url(../../images/greenidea/menu1_on_right.gif) right 4px no-repeat;
float:left;
font-size:13px;
}

.menu1_on a,
.menu1_on a:visited {
display:block;
color:#fffc00;
font-weight:bold;
background:url(../../images/greenidea/menu1_on_left.gif) left 4px no-repeat;
text-decoration:none;
padding:9px 14px 5px 17px;
}

.menu1_off {
background:url(../../images/greenidea/menu1_off_right.gif) right top no-repeat;
float:left;
font-size:13px;
}

.menu1_off a,
.menu1_off a:visited {
display:block;
color:#494949;
font-weight:bold;
background:url(../../images/greenidea/menu1_off_left.gif) left top no-repeat;
text-decoration:none;
padding:10px 14px 4px 17px;
}
.menu1_off a:hover{
color:#666666;
}
/** menu lv2 **/

#menu_lv2 {

}

.menu_lv2_td {
background:url(../../images/greenidea/menu_lv2_bg.gif) left top repeat-x;
padding:0 0 1px 121px;
}

.menu_lv2_left {
background:url(../../images/greenidea/menu_lv2_left.gif) left top no-repeat;
width:10px;
}

.menu2_off {
float:left;
}
.menu2_off a,
.menu2_off a:visited  {
text-decoration:none;
display:block;
color:#297101;
padding:7px 10px 4px 10px;
}
.menu2_off a:hover  {
text-decoration:underline;
}

.menu2_on {
background:url(../../images/greenidea/menu2_on_right.gif) right 3px repeat-x;
float:left;
}
.menu2_on a,
.menu2_on a:visited {
display:block;
background:url(../../images/greenidea/menu2_on_left.gif) left 3px no-repeat;
text-decoration:none;
color:#fffc00;
padding:7px 10px 4px 10px;
}

.menu_lv2_item div {
vertical-align:0%;
}

.menu_lv2_item a:hover {
/*color:#E3384A;*/
}

.menu2_middle {
background: url(../../images/greenidea/menu2_middle.gif) left top no-repeat;
font-size:16px;
float:left;
display:inline;
}

.menu_exit{
background:url(../../images/greenidea/menu_lv2_right.gif) left top no-repeat;
}

.menu_exit img{
vertical-align:top;
padding:0px 0px 3px 23px;
cursor:pointer;
}
/*** info ***/
.info_time {
background:url(../../images/greenidea/info_time.gif) left top no-repeat;
padding:9px 6px 6px 13px;
color:#ffffff;
font-weight:bold;
width:167px;
float:left;
}
.info_time_cornor {
float:left;
background:url(../../images/greenidea/info_middle_top.gif) left top no-repeat;
height:30px !important;
height:29px;
width:25px;
}
/*** form ***/
.form_content_head {
background:url(../../images/greenidea/form_content_head.gif) left top repeat-x;
height:30px !important;
height:29px;
}
/***menuskin***/
.menuskin {
border-right : 1px solid #5D5D5D;
border-bottom : 1px solid #3C3C3C;
visibility : hidden;
font-size : 12px;
position : absolute;
color : #595757;
background-color : #EBEBEB;
background-repeat : repeat-y;
filter:alpha(opacity=100);
} 
.menuskin td {
line-height:25px;
padding-right : 15px;
padding-left : 20px;
text-decoration : none;

}
.menuskin td.menu3_td {
background:url(../../images/greenidea/menu3_arrow.gif) right top no-repeat;
}
.menuskin td.menu3_td {
background:url(../../images/greenidea/menu3_arrow.gif) right top no-repeat;
}

.menuskin img {
vertical-align:middle;
}
.menu3_div {

}
.menu3_div_on {
background-color:#BBFCB5;
color:#14A706;
}
.menu3_divide {
padding:1px 5px;
background:url(../../images/greenidea/menu3_divide.gif) left top repeat-x;
}
/*** misc ***/

.clear {clear:both;}
.text_center {text-align:center;}
.text_right {text-align:right;}