/**
 * 信贷管理系统 
 * 左侧信息
 * @version 0.1 2009-03-02
 * @author YangMing@yuchengtech.com
 */ 
/** 全局设置---Start **/
/** 全局设置---Start **/

	body{ font-size:12px; background-color:#C3E8F0; margin:0px; color:#000;}
	a{text-decoration:none}
	p {margin: 0px;padding: 0px;}
	form{ margin: 0; padding: 0; }
	img{border:0}
	ul {margin: 0px;padding: 0px;}
	td,th {
	margin:0px;
	font-size: 12px;
	}
	li {margin:0px;	list-style-type: none;}
	table {border: none;padding: 0;margin: 0;}
	a:link {font-size: 12px;color: #000;	text-decoration: none;}
	a:visited {font-size: 12px;	color: #000;	text-decoration: none;}
	a:hover {font-size: 12px; color: #166297; text-decoration: none;}
	a:active {font-size: 12px; color: #000; text-decoration: none;}

/** 全局设置---End **/
	#lift_info {
		background-image:url(../images/leftinof_bg.gif);
		background-color: #D9EFF5;
		background-repeat: repeat-x;
		background-position: left top;
		padding:0px 0px 0px 10px;
		}
	#lift_info li {margin:5px 0px 5px 0px;}
	.font_b {font-weight:bold;}
	.left_menu_on {
		background-image: url(../images/l_menu_bg1.gif);
		background-repeat: no-repeat;
		background-position: left;
		padding:5px 0px 3px 6px;
		*padding:3px 6px 2px 6px;
		_padding:3px 6px 2px 6px;
	}
	.left_menu_on a:link {
		font-size: 12px;
		color: #165A8D;
		text-decoration: none;
		background-image: url(../images/l_menu_bg2.gif);
		background-repeat: no-repeat;
		background-position: right;
		padding:5px 6px 3px 0px;
		*padding:4px 6px 2px 0px;
		_padding:4px 6px 2px 0px;
		
	}
	.left_menu_on a:visited {font-size: 12px;
		color: #165A8D;	
		text-decoration: none; 	
		background-image: url(../images/l_menu_bg2.gif);
		background-repeat: no-repeat;
		background-position: right;
		padding:5px 6px 3px 0px;
		*padding:4px 6px 2px 0px;
		_padding:4px 6px 2px 0px;
	}
	.lift_line {
	margin:6px 6px 5px 6px;
	border: 1px solid #538AC4;
	}
	.lefttc {
	margin:6px 6px 0px 6px;
	background-image: url(../images/lefttc_bg.gif);
	background-repeat: repeat-x;
	text-align: center;
	padding:5px 0px 5px 0px;
	}
	.button_2 {
	color:#195B8F;
	width:60px;
	height:22px;
	cursor:pointer;
	margin:0 8px 0 0px;
	font-size: 12px;
	background-image: url(../images/button_2.gif);
	border-width: 0px;
	background-repeat: no-repeat;
	}
