#set ($tableModelName=${TableModel.tableId})
<%@page language="java" contentType="text/html; charset=${jspEncode}"%>
<%@taglib uri="/WEB-INF/emp.tld" prefix="emp" %>
<emp:page>
<html>
<head>
<title>修改页面</title>

<jsp:include page="/include.jsp" flush="true"/>

<script type="text/javascript">
	
	/*--user code begin--*/
			
	/*--user code end--*/
	
</script>
</head>
<body class="page_content">
	<emp:form id="submitForm" action="update${TableModel.primaryTableName}${tableModelName}Record.do" method="POST">
		<emp:gridLayout id="${tableModelName}Group" title="${TableModel.tableCnname}" maxColumn="2">
#foreach(${fieldWra} in ${TableModel.fieldsList})
#if(${fieldWra.isPK()}==true)
			${JspBuilder.generateTag(${fieldWra},"pktext")}
#else
#if(${fieldWra.id}==${TableModel.relatedField})
			${JspBuilder.generateTag(${fieldWra},"pktext")}
#else
#set ($jspTagType=${fieldWra.getJSPTag()})
			${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end
#end
		</emp:gridLayout>
		
		<div align="center">
			<br>
			<emp:button id="submit" label="修改" op="update_${tableModelName}"/>
			<emp:button id="reset" label="取消"/>
		</div>
	</emp:form>
</body>
</html>
</emp:page>
