#set ($tableModelName=${TableModel.tableId})
#set($lowerName=${tableModelName.toLowerCase()})
<?xml version="1.0" encoding="${xmlEncode}"?>
<actionDefines>
	<classMap>
		<map id="action" class="com.yucheng.cmis.ad.mvc.ADRequestController"/>
		<map id="flowInvoker" class="com.yucheng.cmis.ad.mvc.ADFlowInvoker"/>
		<map id="outputViews" class="java.util.HashMap"/>
		<map id="output" class="com.ecc.emp.data.KeyedCollection"/>
		<map id="kColl" class="com.ecc.emp.data.KeyedCollection"/>
		<map id="iColl" class="com.ecc.emp.data.IndexedCollection"/>
		<map id="field" class="com.ecc.emp.data.DataField"/>
	</classMap>
	
	<!-- 查询记录列表 -->
	<action id="query${tableModelName}List" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.Query${tableModelName}ListOp"/>
			<transition dest="queryListRes"/>
		</flowInvoker>
		<outputViews>
			<jspView id="queryListRes" url="${subPath}${tableModelName}/query${tableModelName}List.jsp" />
		</outputViews>
	</action>
	
	<!-- 获取新增页面 -->
	<action id="get${tableModelName}AddPage" type="normal" checkSession="true" >
		<jspView id="queryListRes" url="${subPath}${tableModelName}/add${tableModelName}Record.jsp" />
	</action>
	
	<!-- 新增信息 -->
	<action id="add${tableModelName}Record" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.Add${tableModelName}RecordOp"/>
			<transition dest="queryListRes"/>
		</flowInvoker>
		<outputViews>
			<jspView id="queryListRes" url="${subPath}${tableModelName}/update${tableModelName}Record.jsp" />
		</outputViews>
	</action>
	
	<!-- 获得编辑页面 -->
	<action id="get${tableModelName}UpdatePage" type="normal" checkSession="true" >
		<flowInvoker>
#set($update=${TableModel.getRecordRestrict("update")})
			<operation updateCheck="${update}" class="com.yucheng.cmis.ops.${packageName}${lowerName}.Query${tableModelName}DetailOp"/>
			<transition dest="retPage"/>
		</flowInvoker>
		<outputViews>
			<jspView id="retPage" url="${subPath}${tableModelName}/update${tableModelName}Record.jsp" />
		</outputViews>
	</action>

	<!-- 修改信息 -->
	<action id="update${tableModelName}Record" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.Update${tableModelName}RecordOp"/>
			<transition dest="queryListRes"/>
		</flowInvoker>
		<outputViews>
			<jspView id="queryListRes" url="operationResult.jsp?url=query${tableModelName}List.do" />
		</outputViews>
	</action>
	
	<!-- 删除信息 -->
	<action id="delete${tableModelName}Record" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.Delete${tableModelName}RecordOp"/>
			<transition dest="queryListRes"/>
		</flowInvoker>
		<outputViews>
			<jspView id="queryListRes" url="operationResult.jsp?url=query${tableModelName}List.do" />
		</outputViews>
	</action>
	
	<!-- 查询详情 -->
	<action id="query${tableModelName}Detail" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.Query${tableModelName}DetailOp"/>
			<transition dest="queryDetailRes"/>
		</flowInvoker>
		<outputViews>
			<jspView id="queryDetailRes" url="${subPath}${tableModelName}/query${tableModelName}Detail.jsp" />
		</outputViews>
	</action>
	
	<!-- 分页查询记录列表 -->
	<action id="page${tableModelName}Query" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.Query${tableModelName}ListOp"/>
			<transition dest="queryListRes"/>
		</flowInvoker>
		<outputViews>
			<jsonView class="com.yucheng.cmis.view.JSONView" id="queryListRes">
				<output>
					<iColl id="${tableModelName}List">
						<kColl>
#foreach(${filterField} in ${TableModel.filterFields})
							<field id="${filterField}" />
#end
						</kColl>
					</iColl>
#if(${TableModel.isPaged()}==true)
					<kColl id="pageInfo">
						<field id="currentPage" />
						<field id="maxLine" />
						<field id="recordSize" />
					</kColl>
#end
					
				</output>
			</jsonView>
		</outputViews>
	</action>
	
#foreach(${multiWra} in ${TableModel.one2multiList})
#set($multiModel=${multiWra.modelWra})
#set($multiModelName=${multiModel.tableId})
#set($multiLowerName=${multiModelName.toLowerCase()})
	
	<!--*************************子表【${multiModel.tableCnname}】*******************************-->
	
	<!-- 作为子表的列表页面 -->
	<action id="query${tableModelName}${multiModelName}List" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.${multiLowerName}.Query${tableModelName}${multiModelName}ListOp"/>
			<transition dest="retPage"/>
		</flowInvoker>
		<outputViews>
			<jspView id="retPage" url="${subPath}${tableModelName}/${multiModelName}/query${tableModelName}${multiModelName}List.jsp" />
		</outputViews>
	</action>
	
	<!-- 获得作为子表的新增页面 -->
	<action id="get${tableModelName}${multiModelName}AddPage" type="normal" checkSession="true" >
		<jspView id="addPage" url="${subPath}${tableModelName}/${multiModelName}/add${tableModelName}${multiModelName}Record.jsp"/>
	</action>
	
	<!-- 获得子表编辑页面 -->
	<action id="get${tableModelName}${multiModelName}UpdatePage" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.${multiLowerName}.Query${tableModelName}${multiModelName}DetailOp"/>
			<transition dest="updatePage"/>
		</flowInvoker>
		<outputViews>
			<jspView id="updatePage" url="${subPath}${tableModelName}/${multiModelName}/update${tableModelName}${multiModelName}Record.jsp" />
		</outputViews>
	</action>
	
	<!-- 子表详情查询 -->
	<action id="query${tableModelName}${multiModelName}Detail" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.${multiLowerName}.Query${tableModelName}${multiModelName}DetailOp"/>
			<transition dest="queryDetail"/>
		</flowInvoker>
		<outputViews>
			<jspView id="queryDetail" url="${subPath}${tableModelName}/${multiModelName}/query${tableModelName}${multiModelName}Detail.jsp"/>
		</outputViews>	
	</action>
	
	<!-- 子表新增记录 -->
	<action id="add${tableModelName}${multiModelName}Record" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.${multiLowerName}.Add${tableModelName}${multiModelName}RecordOp"/>
			<transition dest="addRecordRes"/>
		</flowInvoker>
		<outputViews>
			<jspView id="addRecordRes" url="refreshList.jsp?method=refresh${multiModelName}()"/>
		</outputViews>
	</action>
	
	<!-- 子表更新记录 -->
	<action id="update${tableModelName}${multiModelName}Record" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.${multiLowerName}.Update${tableModelName}${multiModelName}RecordOp"/>
			<transition dest="updateRecordRes"/>
		</flowInvoker>
		<outputViews>
			<jspView id="updateRecordRes" url="refreshList.jsp?method=refresh${multiModelName}()"/>
		</outputViews>
	</action>
	
	<!-- 子表删除记录 -->
	<action id="delete${tableModelName}${multiModelName}Record" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.${multiLowerName}.Delete${tableModelName}${multiModelName}RecordOp"/>
			<transition dest="deleteRecordRes"/>
		</flowInvoker>
		<outputViews>
			<jspView id="deleteRecordRes" url="refreshList.jsp?method=refresh${multiModelName}()"/>
		</outputViews>
	</action>
	
	<!-- 分页查询记录列表 -->
		<action id="page${tableModelName}${multiModelName}Query" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="com.yucheng.cmis.ops.${packageName}${lowerName}.${multiLowerName}.Query${tableModelName}${multiModelName}ListOp"/>
			<transition dest="queryListRes"/>
		</flowInvoker>
		<outputViews>
			<jsonView class="com.yucheng.cmis.view.JSONView" id="queryListRes">
				<output>
					<iColl id="${multiModelName}List">
						<kColl>
#foreach(${filterField} in ${multiModel.filterFields})
							<field id="${filterField}" />
#end
						</kColl>
					</iColl>
#if(${multiModel.isPaged()}==true)
					<kColl id="pageInfo">
						<field id="currentPage" />
						<field id="maxLine" />
						<field id="recordSize" />
					</kColl>
#end
				</output>
			</jsonView>
		</outputViews>
	</action>	
#end
	
</actionDefines>
