* {
	font-face: "ו";
	font-size: 12px;
}

#pleaseWaitDiv {
	position:absolute;
	top:290px;
	left: 300px;
	background-color: #FFFFFF;
	border: solid 1px #000000;
}

body {
	overflow-y: auto;
	/*padding: 20px;*/	
	background-color: #fefbf6;
}

.btn_mouseout {
 BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 
 #2C59AA 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; FILTER: 
 progid:DXImageTransform.Microsoft.Gradient(GradientType=0, 
 StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 
 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; 
 BORDER-BOTTOM: #2C59AA 1px solid
 } 
.btn_mouseover {
 BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 
 #2C59AA 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; FILTER: 
 progid:DXImageTransform.Microsoft.Gradient(GradientType=0, 
 StartColorStr=#ffffff, EndColorStr=#D7E7FA); BORDER-LEFT: #2C59AA 
 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; 
 BORDER-BOTTOM: #2C59AA 1px solid
 }
.btn_mousedown
 {
 BORDER-RIGHT: #FFE400 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 
 #FFE400 1px solid; PADDING-LEFT:5px; FONT-SIZE: 12px; FILTER: 
 progid:DXImageTransform.Microsoft.Gradient(GradientType=0, 
 StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #FFE400 
 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; 
 BORDER-BOTTOM: #FFE400 1px solid
 } 
.btn_mouseup {
 BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 
 #2C59AA 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; FILTER: 
 progid:DXImageTransform.Microsoft.Gradient(GradientType=0, 
 StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 
 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; 
 BORDER-BOTTOM: #2C59AA 1px solid
 } 
button{
 BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 
 #2C59AA 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; FILTER: 
 progid:DXImageTransform.Microsoft.Gradient(GradientType=0, 
 StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 
 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; 
 BORDER-BOTTOM: #2C59AA 1px solid
 } 
