/**** CSS for China Constuction Bank perbank ****/
/**** zhoujun e-Channels ****/
/**** First created on 2006.02.13 ****/

/**** Page Structure / 页面结构设置 ****/

* { 
margin:0; 
padding:0; 
}
img {
border:0;
}

body,div,td,span,input,select,p {
font:12px "宋体",Tahoma;
}

body {
background:transparent;
padding:0;
margin:0;
}

#Page_content { 
width:960px;
padding:0;
margin:0 auto;
}

#Header {
/*background:url(../../images/default/logo_right.gif) right top no-repeat;*/
}

#logo {

}

/** shortcut **/

#shortcut {
float:right;
margin-top:10px;
margin-right:14px;
font-weight:bold;
}

#shortcut a {
color:#6C6C6C;
text-decoration:none;
}

#shortcut a:hover {
color:#6C6C6C;
text-decoration:none;
}

#shortcut img {
vertical-align:text-bottom;
}
.logo_setting {
background:url(../../images/default/logo_setting.gif) left top no-repeat;
padding-top:2px;
padding-left:22px;
margin-left:10px;
height:17px;
float:left;
}
.logo_map {
background:url(../../images/default/logo_map.gif) left top no-repeat;
padding-top:2px;
padding-left:22px;
margin-left:10px;
height:17px;
float:left;
}
.logo_help {
background:url(../../images/default/logo_help.gif) left top no-repeat;
padding-top:2px;
padding-left:22px;
margin-left:10px;
height:17px;
float:left;
}
/** use as pic **/
.logo_icon {
background:url(../../images/default/logo_icon.gif) left top no-repeat;
width:158px;
height:55px;
}
.logo_icon_bottom {
background:url(../../images/default/logo_icon_bottom.gif) left top no-repeat;
width:118px;
height:26px;
float:left;
}
/** other frames **/
#Page_left {
width:186px;
float:left;
background:#EFEFEF;
}

.slide_l {
background:url(../../images/default/info_middle_slide.gif) left top no-repeat;
cursor:pointer;
vertical-align:top;
margin-top:130px;
width:10px;
height:108px;
}

.slide_r {
background:url(../../images/default/info_middle_slide2.gif) left top no-repeat;
cursor:pointer;
vertical-align:top;
margin-top:130px;
width:10px;
height:108px;
}

#Page_right {
float:right;
}
#Page_middle {
float:left;
background:url(../../images/default/c8c8c8.gif) left top repeat-y;
}

#Footer {
text-align:center;
color:#fff;
float:left;
}

.footer_td {
background:url(../../images/default/footer_middle.gif) left top repeat-x;
}

.footer_left {
background:url(../../images/default/footer_left.gif) left top no-repeat;
width:8px;
height:32px;
float:left;
}

.footer_right {
background:url(../../images/default/footer_right.gif) left top no-repeat;
width:8px;
height:32px;
display:inline;
float:right;
}

#menu_lv1 {
height:26px;
}

.menu1_on {
background:url(../../images/default/menu1_on_right.gif) right top no-repeat;
float:left;
font-size:13px;
}

.menu1_on a,
.menu1_on a:visited {
display:block;
color:#DC414E;
font-weight:bold;
background:url(../../images/default/menu1_on_left.gif) left top no-repeat;
text-decoration:none;
padding:8px 14px 3px 17px;
}

.menu1_off {
background:url(../../images/default/menu1_off_right.gif) right top no-repeat;
float:left;
font-size:13px;
}

.menu1_off a,
.menu1_off a:visited {
display:block;
color:#fff;
font-weight:bold;
background:url(../../images/default/menu1_off_left.gif) left top no-repeat;
text-decoration:none;
padding:8px 14px 3px 17px;
}
.menu1_off a:hover{
color:#ececec;
}
/** menu lv2 **/

#menu_lv2 {

}

.menu_lv2_td {
background:url(../../images/default/menu_lv2_bg.gif) left top repeat-x;
padding-left:115px;
}

.menu_lv2_left {
background:url(../../images/default/menu_lv2_left.gif) left top no-repeat;
}

.menu2_off a,
.menu2_off a:visited  {
text-decoration:none;
color:#585858;
padding:2px 10px 1px 5px;
}

.menu2_on a,
.menu2_on a:visited {
text-decoration:none;
font-weight:bold;
color:#E3384A;
padding:2px 10px 1px 5px;
}

.menu_lv2_item div {
vertical-align:0%;
}

.menu_lv2_item a:hover {
color:#E3384A;
}

.menu2_middle {
background: url(../../images/default/menu2_middle.gif) left top no-repeat;
font-size:16px;
display:inline;
}

.menu_exit{
background:url(../../images/default/menu_lv2_right.gif) left top no-repeat;
}

.menu_exit img{
vertical-align:top;
padding:0px 0px 4px 23px;
cursor:pointer;
}
/*** info ***/
.info_time {
background:url(../../images/default/info_time.gif) left top repeat-x;
padding:6px 6px 6px 20px;
color:#fff;
font-weight:bold;
width:163px;
float:left;
}
.info_time_cornor {
float:left;
background:url(../../images/default/info_middle_top.gif) left top no-repeat;
height:27px !important;
height:26px;
width:25px;
}

/***menuskin***/
.menuskin {
border-right : 1px solid #5D5D5D;
border-bottom : 1px solid #3C3C3C;
visibility : hidden;
font-size : 12px;
position : absolute;
color : #595757;
background-color : #EBEBEB;
background-repeat : repeat-y;
/*filter:alpha(opacity=90);*/
} 
.menuskin td {
line-height:25px;
padding-right : 15px;
padding-left : 20px;
text-decoration : none;

}
.menuskin td.menu3_td {
background:url(../../images/default/menu3_arrow.gif) right top no-repeat;
}
.menuskin td.menu3_td {
background:url(../../images/default/menu3_arrow.gif) right top no-repeat;
}

.menuskin img {
vertical-align:middle;
}
.menu3_div {

}
.menu3_div_on {
background-color:#E6C2C4;
color:#D6496C;
}
.menu3_divide {
padding:1px 5px;
background:url(../../images/default/menu3_divide.gif) left top repeat-x;
}
/*** misc ***/

.clear {clear:both;}
.text_center {text-align:center;}
.text_right {text-align:right;}