#set ($tableModelName=${TableModel.tableId})
#set ($conSize=${TableModel.getConditionFieldsSize()})
#set ($orderStr=${TableModel.getOrderFieldStr()})
#set ($filterStr=${TableModel.getFilterFieldStr()})
#set ($query=${TableModel.getRecordRestrict("query")})
#set ($delete=${TableModel.getRecordRestrict("delete")})
#set ($update=${TableModel.getRecordRestrict("update")})
#set ($isPaged=${TableModel.isPaged()})
#set ($dataSourceId="dataSource")
#set ($daoId="tableModelDAO")
#set ($modelLoaderId="tableModelLoader")
<?xml version="1.0" encoding="${xmlEncode}" ?>
<MCITransaction nonSessionTrx="true" trxName="${tableModelName}" trxCode="${tableModelName}" chainedChannelId="Root">
	<datas>
		<refData access="private" refId="errorCode"/>
		<refData access="private" refId="errorMsg"/>
	</datas>
	<document/>
	<services/>
	<formats/>
	
	<operation id="queryList" name="列表查询操作">
		<document/>
		<flow name="flow1" x="10" height="400" width="500" y="10">
			<StartAction name="StartAction0" x="29" height="40" width="100" y="21">
#if(${conSize}>0)
				<transition name="transition0" dest="ConditionQueryAction0"/>
#elseif(${query}==true)
				<transition name="transition1" dest="RecordRestrictAction0"/>
#elseif(${orderStr.length()}>0)
				<transition name="transition2" dest="OrderAction0"/>
#else
				<transition name="transition3" dest="QueryListAction0"/>
#end
			</StartAction>
			<QueryListAction name="QueryListAction0" width="100" daoId="${daoId}" dataSourceId="${dataSourceId}" y="330" filterFieldStr="${filterStr}" x="38" isPaged="${isPaged}" modelLoaderId="${modelLoaderId}" modelId="${tableModelName}" height="40" #if(${isPaged}==true)size="${TableModel.pageSize}"#end>
				<transition id="0" name="transition4" dest="EndAction2"/>
			</QueryListAction>
#if(${orderStr.length()}>0)
			<OrderAction name="OrderAction0" x="213" height="40" width="100" y="219" orderFieldStr="${orderStr}">
				<transition id="0" name="transition5" dest="QueryListAction0"/>
			</OrderAction>
#end
#if(${conSize}>0)
			<ConditionQueryAction name="ConditionQueryAction0" x="213" height="40" width="100" y="62" modelId="${tableModelName}">
#if(${query}==true)
				<transition id="0" name="transition6" dest="RecordRestrictAction0"/>
#elseif(${orderStr.length()}>0)
				<transition id="0" name="transition7" dest="OrderAction0"/>
#else
				<transition id="0" name="transition8" dest="QueryListAction0"/>				
#end				
			</ConditionQueryAction>
#end
#if(${query}==true)
			<RecordRestrictAction name="RecordRestrictAction0" width="100" daoId="${daoId}" dataSourceId="${dataSourceId}" y="134" restrictType="query" x="30" modelLoaderId="${modelLoaderId}" modelId="${tableModelName}" height="40">
#if(${orderStr.length()}>0)
				<transition id="0" name="transition9" dest="OrderAction0"/>
#else
				<transition id="0" name="transition10" dest="QueryListAction0"/>
#end
				<transition id="-1" name="transition11" dest="EndAction0"/>
			</RecordRestrictAction>
			<EndAction name="EndAction0" x="31" result="failed" height="40" width="100" y="227"/>
#end			
			
			<EndAction name="EndAction2" x="210" result="success" height="40" width="100" y="330"/>
		</flow>
		<input/>
		<output/>
	</operation>
	
	<operation id="addRecord" name="插入操作">
		<document/>
		<flow name="flow1" x="10" height="400" width="500" y="10">
			<StartAction name="StartAction0" x="69" height="40" width="100" y="33">
				<transition name="transition3" dest="AddRecordAction0"/>
			</StartAction>
			<EndAction name="EndAction0" x="71" result="success" height="40" width="100" y="264"/>
			<AddRecordAction name="AddRecordAction0" x="70" height="40" dataSourceId="${dataSourceId}" width="100" daoId="${daoId}" y="140" modelId="${tableModelName}">
				<transition id="0" name="transition4" dest="EndAction0"/>
			</AddRecordAction>
		</flow>
		<input/>
		<output/>
	</operation>
	<operation id="deleteRecord" name="删除操作">
		<document/>
		<flow name="flow1" x="10" height="400" width="500" y="10">
			<StartAction name="StartAction0" x="46" height="40" width="100" y="33">
#if(${delete}==true)
				<transition name="transition1" dest="RecordRestrictAction0"/>
#else
				<transition name="transition2" dest="DeleteRecordAction0"/>
#end
			</StartAction>
			<EndAction name="EndAction0" x="45" result="success" height="40" width="100" y="249"/>
			<DeleteRecordAction name="DeleteRecordAction0" width="100" daoId="${daoId}" dataSourceId="${dataSourceId}" cascade="true" y="146" x="46" modelLoaderId="${modelLoaderId}" modelId="${tableModelName}" height="40">
				<transition id="0" name="transition3" dest="EndAction0"/>
			</DeleteRecordAction>
#if(${delete}==true)
			<RecordRestrictAction name="RecordRestrictAction0" width="100" daoId="${daoId}" dataSourceId="${dataSourceId}" y="89" restrictType="delete" x="226" modelLoaderId="${modelLoaderId}" modelId="${tableModelName}" height="40">
				<transition id="0" name="transition4" dest="DeleteRecordAction0"/>
				<transition id="-1" name="transition5" dest="EndAction1"/>
			</RecordRestrictAction>
			<EndAction name="EndAction1" x="234" result="failed" height="40" width="100" y="249"/>
#end
		</flow>
		<input/>
		<output/>
	</operation>
	<operation id="updateRecord" name="更新操作">
		<document/>
		<flow name="flow1" x="10" height="400" width="500" y="10">
			<StartAction name="StartAction0" x="42" height="40" width="100" y="28">
#if(${update}==true)
			<transition name="transition1" dest="RecordRestrictAction0"/>
#else
			<transition name="transition2" dest="UpdateRecordAction0"/>
#end
			</StartAction>
			<EndAction name="EndAction0" x="42" result="success" height="40" width="100" y="259"/>
			<UpdateRecordAction name="UpdateRecordAction0" x="41" height="40" dataSourceId="${dataSourceId}" width="100" daoId="${daoId}" y="152" modelId="${tableModelName}">
				<transition id="0" name="transition3" dest="EndAction0"/>
			</UpdateRecordAction>
#if(${update}==true)
			<RecordRestrictAction name="RecordRestrictAction0" width="100" daoId="${daoId}" dataSourceId="${dataSourceId}" y="89" restrictType="update" x="211" modelLoaderId="${modelLoaderId}" modelId="${tableModelName}" height="40">
				<transition id="0" name="transition4" dest="UpdateRecordAction0"/>
				<transition id="-1" name="transition5" dest="EndAction1"/>
			</RecordRestrictAction>
			<EndAction name="EndAction1" x="219" result="failed" height="40" width="100" y="259"/>
#end
		</flow>
		<input/>
		<output/>
	</operation>
	<operation id="queryDetail" name="详情查询操作">
		<document/>
		<flow name="flow1" x="10" height="400" width="500" y="10">
			<StartAction name="StartAction0" x="74" height="40" width="100" y="30">
				<transition name="transition0" dest="QueryDetailAction0"/>
			</StartAction>
			<EndAction name="EndAction0" x="76" result="success" height="40" width="100" y="236"/>
			<QueryDetailAction name="QueryDetailAction0" width="100" daoId="${daoId}" dataSourceId="${dataSourceId}" cascade="true" y="130" x="75" modelLoaderId="${modelLoaderId}" modelId="${tableModelName}" height="40">
				<transition id="0" name="transition1" dest="EndAction0"/>
			</QueryDetailAction>
		</flow>
		<input/>
		<output/>
	</operation>
</MCITransaction>
