#set ($tableModelName=${TableModel.tableId})
<%@page language="java" contentType="text/html; charset=${jspEncode}"%>
<%@taglib uri="/WEB-INF/emp.tld" prefix="emp" %>
<emp:page>
<html>
<head>
<title>修改页面</title>

<jsp:include page="/include.jsp" flush="true"/>

<%
	request.setAttribute("canwrite","");
%>

<script type="text/javascript">
	
	function doReturn() {
		var url = '<emp:url action="query${tableModelName}List.do"/>';
		url = EMPTools.encodeURI(url);
		window.location=url;
	};
	
#foreach(${one2multiWra} in ${TableModel.one2multiList})
	function doView${one2multiWra.refModelId}() {
		var paramStr = ${tableModelName}.${one2multiWra.refModelId}._obj.getParamStr([${one2multiWra.modelWra.getPkString()}]);
		if (paramStr!=null) {
			var url = '<emp:url action="query${tableModelName}${one2multiWra.refModelId}Detail.do"/>?'+paramStr;
			url = EMPTools.encodeURI(url);
			EMPTools.openWindow(url,'newwindow');
		} else {
			alert('请先选择一条记录！');
		}
	};
#end

	/*--user code begin--*/
			
	/*--user code end--*/
	
</script>
</head>
<body class="page_content">
	<emp:gridLayout id="${tableModelName}Group" title="${TableModel.tableCnname}" maxColumn="2">
#foreach(${fieldWra} in ${TableModel.fieldsList})
#if(${fieldWra.isPK()}==true)
			${JspBuilder.generateTag(${fieldWra},"pktext")}
#else
#set ($jspTagType=${fieldWra.getJSPTag()})
			${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end			
##从表字段
#foreach(${one2oneFieldsWra} in ${TableModel.one2oneList})
#if(${one2oneFieldsWra.getPrimaryKeyRelated()}==true)
#foreach(${fieldWra} in ${one2oneFieldsWra.fieldsList})
#if(${fieldWra.isPK()}==false)
#set ($jspTagType=${fieldWra.getJSPTag()})
			${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end
#else ##非主键关联
#foreach(${fieldWra} in ${one2oneFieldsWra.fieldsList})
#if(${fieldWra.isPK()}==true)
			${JspBuilder.generateTag(${fieldWra},"pktext")}
#else
#set ($jspTagType=${fieldWra.getJSPTag()})
			${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end
#end
#end	
	</emp:gridLayout>
	
	<br>

#foreach(${multi} in ${TableModel.one2multiList})
#if(${velocityCount}==1)
#set($multiWra=${multi})
#end
#end
	<emp:tabGroup id="${tableModelName}_tabs" mainTab="${multiWra.refModelId}_tab">
#foreach(${one2multiWra} in ${TableModel.one2multiList})
#set($multiModel=${one2multiWra.modelWra})			
		<emp:tab id="${multiModel.tableId}_tab" label="${multiModel.tableCnname}">
			<div align="left">
				<emp:button id="view${multiModel.tableId}" label="查看" op="view_${multiModel.tableId}"/>
			</div>
			<emp:table icollName="${tableModelName}.${multiModel.tableId}" pageMode="false" url="">
#set($filterSize=${multiModel.getFilterFieldsSize()})
#if(${filterSize}>0)
#foreach(${filterField} in ${multiModel.filterFields})
#set($fieldWra=${multiModel.getFieldById("${filterField}")})
		${JspBuilder.generateTag(${fieldWra},"tableitem")}
#end
#else
#foreach(${fieldWra} in ${multiModel.fieldsList})
		${JspBuilder.generateTag(${fieldWra},"tableitem")}
#end
#end
#foreach(${pkWra} in ${multiModel.getPKOutFilter()})
		${JspBuilder.generateTag(${pkWra},"hiddentableitem")}
#end
			</emp:table>
		</emp:tab>
#end
	</emp:tabGroup>

	<div align=center>
		<emp:button id="return" label="返回到列表页面"/>
	</div>

</body>
</html>
</emp:page>
