#set ($tableModelName=${TableModel.tableId})
<%@page language="java" contentType="text/html; charset=${jspEncode}"%>
<%@taglib uri="/WEB-INF/emp.tld" prefix="emp" %>
<emp:page>
<html>
<head>
<title>修改页面</title>

<jsp:include page="/include.jsp" flush="true"/>

<script type="text/javascript">
	
#foreach(${multiWra} in ${TableModel.one2multiList})
#set($modelName=${multiWra.refModelId})
	function refresh${modelName}() {
		${tableModelName}_tabs.tabs.${modelName}_tab.refresh();
	};
#end

	/*--user code begin--*/
			
	/*--user code end--*/
	
</script>
</head>
<body class="page_content">
	
	<emp:form id="submitForm" action="update${tableModelName}Record.do" method="POST">
		<emp:gridLayout id="${tableModelName}Group" title="${TableModel.tableCnname}" maxColumn="2">
#foreach(${fieldWra} in ${TableModel.fieldsList})
#if(${fieldWra.isPK()}==true)
			${JspBuilder.generateTag(${fieldWra},"pktext")}
#else
#set ($jspTagType=${fieldWra.getJSPTag()})
			${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end			
##从表字段
#foreach(${one2oneFieldsWra} in ${TableModel.one2oneList})
#if(${one2oneFieldsWra.getPrimaryKeyRelated()}==true)
#foreach(${fieldWra} in ${one2oneFieldsWra.fieldsList})
#if(${fieldWra.isPK()}==false)
#set ($jspTagType=${fieldWra.getJSPTag()})
			${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end
#else ##非主键关联
#foreach(${fieldWra} in ${one2oneFieldsWra.fieldsList})
#if(${fieldWra.isPK()}==true)
			${JspBuilder.generateTag(${fieldWra},"pktext")}
#else
#set ($jspTagType=${fieldWra.getJSPTag()})
			${JspBuilder.generateTag(${fieldWra},"${jspTagType}")}
#end
#end
#end
#end	
		</emp:gridLayout>
	

		<div align=center>
			<emp:button id="submit" label="修改" op="update"/>
			<emp:button id="reset" label="取消"/>
		</div>
	</emp:form>
#foreach(${multi} in ${TableModel.one2multiList})
#if(${velocityCount}==1)
#set($multiWra=${multi})
#end
#end
	<emp:tabGroup id="${tableModelName}_tabs" mainTab="${multiWra.refModelId}_tab">
#foreach(${one2multi} in ${TableModel.one2multiList})
#set($multiModelWra=${one2multi.modelWra})
#set($label=${multiModelWra.tableCnname})
#if(${velocityCount}==1)
		<emp:tab id="${one2multi.refModelId}_tab" label="${label}" url="query${tableModelName}${one2multi.refModelId}List.do" reqParams="${tableModelName}.${one2multi.fromField}=$${tableModelName}.${one2multi.fromField};" initial="true"/>
#else
		<emp:tab id="${one2multi.refModelId}_tab" label="${label}" url="query${tableModelName}${one2multi.refModelId}List.do" reqParams="${tableModelName}.${one2multi.fromField}=$${tableModelName}.${one2multi.fromField};"/>
#end
				
#end
	</emp:tabGroup>
</body>
</html>
</emp:page>
