/**信贷管理系统
 * @version  2014-05-16
 * @author wangms2@yuchengtech.com
 *green
 */ 
 
@charset "utf-8";
/**-- Document Css Start --**/
body{font-size:12px;background-color:#fff;margin:0;color:#020000;line-height:140%;
font-family:SimSun,"Microsoft Yahei",Verdana, Geneva, Arial, Helvetica, sans-serif;}
p,form,img,ul,li,ol,dl,dt,dd,table,td,th{margin:0;padding:0;}
li{list-style:none;}
img{border:none;}
table{border-collapse:collapse;font-size:12px;}
a{text-decoration:none;}
a:link {font-size: 12px;color: #020000;text-decoration:underline;}
a:visited {font-size: 12px;	color: #545454;text-decoration:underline;}
a:hover {font-size: 12px; color: #ff0000;text-decoration:underline;}
a:active {font-size: 12px; color: #222;text-decoration:underline;}
input,select,option,textarea{font-size:12px;}
select{border-color:#b7b7b7;}
fieldset{border:1px solid #c2c2c2;}
input,select,textarea{border:1px solid #c2c2c2;}
legend{color:#020000;}
/**-- Document Css end --**/

/*about input[type="button"]*/	
button {color:#424242;width:90px;height:25px;line-height:27px;cursor:pointer;margin:3px 8px 3px 0px;font-size: 12px;
background: url(../images/green/QZ_btn_hover.png) no-repeat center center;border:none;outline:none;}
.btn_mouseup, .btn_mouseover, .btn_mousedown{color:#fff;background: url(../images/green/QZ_btn_hover2.png) no-repeat center center;}

/*
#button_query,#button_reset,#submit,#reset,#button_submit,#button_save,#button_reset,#button_return,#button_ImageView,#button_subWF
{background: url(../images/green/QZ_btn.png) no-repeat center center;}
#button_query.btn_mouseup,#button_query.btn_mouseover,#button_query.btn_mousedown,
#button_reset.btn_mouseup,#button_reset.btn_mouseover,#button_reset.btn_mousedown,
#submit.btn_mouseup,#submit.btn_mouseover,#submit.btn_mousedown,
#reset.btn_mouseup,#reset.btn_mouseover,#reset.btn_mousedown,
#button_submit.btn_mouseup,#button_submit.btn_mouseover,#button_submit.btn_mousedown,
#button_save.btn_mouseup,#button_save.btn_mouseover,#button_save.btn_mousedown,
#button_return.btn_mouseup,#button_return.btn_mouseover,#button_return.btn_mousedown,
#button_ImageView.btn_mouseup,#button_ImageView.btn_mouseover,#button_ImageView.btn_mousedown,
#button_subWF.btn_mouseup,#button_subWF.btn_mouseover,#button_subWF.btn_mousedown
{color:#fff;background: url(../images/green/QZ_btn_hover2.png) no-repeat center center;}
*/
/** add button80 button90 button100 button120**/
.button80 {color:#424242;width:80px;height:25px;line-height:27px;cursor:pointer;margin:3px 8px 3px 0px;font-size: 12px;
background: url(../images/green/QZ_btn5.png) no-repeat center center;border:none;}
.button80:hover{color:#fff;background: url(../images/green/QZ_btn5_hover.png) no-repeat center center;}
.button90 {color:#424242;width:100px;height:25px;line-height:27px;cursor:pointer;margin:3px 8px 3px 3px;font-size: 12px;
background:url(../images/green/QZ_btn3.png) no-repeat center center;border-width: 0px;}
.button90:hover{color:#fff;background: url(../images/green/QZ_btn3_hover.png) no-repeat center center;}
.button100 {color:#424242;width:100px;height:25px;line-height:27px;cursor:pointer;margin:3px 8px 3px 0px;font-size: 12px;
border:none;background:url(../images/green/QZ_btn3.png) no-repeat center center;}
.button100:hover{color:#fff;background: url(../images/green/QZ_btn3_hover.png) no-repeat center center;}
.button120 {color:#424242;width:120px;height:25px;line-height:27px;cursor:pointer;margin:3px 8px 3px 0px;font-size: 12px;
border:none;background:url(../images/green/QZ_btn4.png) no-repeat center center;}
.button120:hover{color:#fff;background: url(../images/green/QZ_btn4_hover.png) no-repeat center center;}
.button120_2{color:#fff;width:120px;height:25px;line-height:27px;cursor:pointer;margin:3px 8px 3px 0px;font-size: 12px;
border:none;background:url(../images/green/QZ_btn4_hover.png) no-repeat center center;}
	
/*other style change 2014-5-17*/
#Location {height:28px;width:100%;background: url(../images/ico_06.gif) no-repeat 0 14px;padding:10px 0px 0px 0px;text-indent: 12px;}
.i_list_info {width:100%; border:1px solid #b7b7b7; margin:0 0 20px 0;}
.i_list_info td {line-height:200%; padding:0;}
.i_list_info ul {padding:10px 0;}
.i_list_info li {line-height:160%; padding:0 10px 0 0;}
.i_list_info_tilte {height:25px;color:#222;background: url(../images/list_title_bg.gif) repeat-x;}
.line_xx {border-bottom:1px dashed #b7b7b7;}
.font_d {background: url(../images/ico_10.gif) no-repeat 10px center;text-indent: 10px;}
#search_info {color:#222;background: #F4FBFD url(../images/search_info_bg.gif) repeat-x;
border: 1px solid #b7b7b7;padding:10px 0;width:100%;margin:0 0 15px 0;}
#search_info li { margin:6px 0px;}
.search_bd {padding:0px 20px;text-align: center;}
.search_bd span { padding:0px 20px;}
.search_info_title {color:#222;font-weight:bold;background: url(../images/ico_11.gif) no-repeat 10px 10px;padding-left:25px;}
.tdLeft{text-align:left;}
.tdRight{text-align:right;}
.tdCenter{text-align:center;}

/*table.emp_table*/
.emp_table {width:100%;word-break:break-all;border-collapse:collapse;border-spacing:0;border:none;font-size:12px;color:#424242;
border-bottom:1px solid #dadada;}
.emp_table td {line-height:24px;padding:0px;text-align:left;padding-left:5px;padding-right:5px;border-bottom:1px solid #dadada;border-right:1px solid #dadada;}
.emp_table th {background-color:#cbeeac;text-align:center;padding-left:5px;padding-right:5px;border-bottom:1px solid #dadada;border-right:1px solid #dadada;}
.emp_table ul {padding:10px 0;}
.emp_table li {line-height:160%; padding:0 10px 0 10px;}
.emp_table_title {height:26px;font-weight:normal;color:#222;text-align: center;}
table.emp_table tr.row1 {background-color: #fff;}
table.emp_table tr.row2 {background-color: #daedc9;}
table.emp_table tr.selected {background-color: #c4eda0;}	
	
.list_tr_bg1 {background-color:#fafafa; cursor:pointer;}
.list_tr_bg2 {background-color:; cursor:pointer;}
.result_over {background-color:#ffffcc; cursor:pointer;}
.fanye { width:100%; font-size:12px; color:#111; }
.fanye li {float:left; padding-right:10px;}
.fanye img { margin:0px 10px 0px 0px;}
.fanye span {float:right;}
	
.emp_group_div {border:1px solid #c2c2c2;background:#fff;padding:20px;}
.form_info table {margin:10px;line-height: 180%;}
.form_info select input {width:100px;}
.red_txt {color:#ff0000;}
.button_r {text-align:right; width:100%}
.button_l {text-align:left;	width:100%}
#info_title {height:20px;padding-top:6px;font-size:14px;font-weight:bold;color:#020000;background: url(../images/ico_17.gif) no-repeat 6px center;
text-indent: 25px;width: 98%;}

/************************* 标签日志(开发调试时使用)的样式 ******************************/
#emp_log_div {background-color: #fefbf6;position: absolute;top: 0px;left: 0px;width: 200px;height: 500px;overflow: scroll;}

/************* 布局组件中标题的样式 ******************/
.emp_gridlayout_title {height:30px;line-height:30px;padding-top:6px;padding-bottom:2px;font-size:14px;font-family:Microsoft Yahei;
color:#1A1A1A;text-indent: 25px;width: 100%;text-align: left;background:url(../images/green/QZ_titleBg.png) no-repeat left bottom;
border-bottom:1px solid #b7b7b7;}
.emp_gridlayout_title td {font-weight: bold;font-size: 12px;height: 18px;padding: 5px;}

/****************************** 单个数据标签的样式 ************************************/
	/************** 整个数据标签的span的样式(通常用于定义其中特定元素样式) *****************/
.emp_field {}

/****************** 每个数据标签的label样式(只适用于布局组件中) ***********************/
.emp_gridLayout_table{font-size:12px;}
.emp_gridLayout_table td{padding-right:4px;padding-bottom:5px;}
.emp_field_label {vertical-align: top;padding-top: 4px;text-align: right;width: 150px;}

/***************** 每个数据标签的数据部分在布局组件和表格组件中的td属性 ****************/
.emp_field_td {padding-right: 20px;}

/****************** 标签只显示数值时的样式 ***********************/
.emp_field_flat {}

/******************* 必输标志符号的样式(即*号的样式) **********************/
.emp_field_required {color: #ff0000;}

/********************** 校验出错信息的样式 **************************/
.emp_field_error {color: #ff0000;}

/******************* 标签隐藏状态的样式 ***************************/
.emp_field_hidden {display: none;}

/******************* 标签不可用状态的样式 ***************************/
.emp_field_disabled {color: #c2c2c2;background-color: #e3e3e3;}

/************************ 输入框(empext:text)的样式 **************************/
/*************** 输入框(input)普通状态下的样式 ********************/
.emp_field_text_input {width: 200px;border:1px solid #b7b7b7;text-align: left;}

.emp_field_text_input_number {width: 200px;border:1px solid #b7b7b7;text-align: left;}


/*************** 输入框(input)不可用状态下的样式 ********************/
.emp_field_disabled .emp_field_text_input {border-color: #ccc;color: #c2c2c2;background-color: #e3e3e3;}

/*************** 输入框(input)只读状态下的样式 ********************/
.emp_field_readonly .emp_field_text_input {border-color: #ccc;background-color: #e3e3e3;}
.emp_field_credit .emp_field_text_input {border-color: #c2c2c2;background-color: #e3e3e3;}

/************************ 输入域(empext:textarea)的样式 **************************/
/************ 输入域(textarea)普通状态下的样式 ****************/
.emp_field_textarea_textarea { /****** 长度、高度固定 ******/width: 628px;height: 50px;text-align: left;border:1px solid #b7b7b7;}

/*************** 输入域(textarea)不可用状态下的样式 ********************/
.emp_field_disabled .emp_field_textarea_textarea {border-color: #ccc;color: #c2c2c2;background-color: #e3e3e3;}

/*************** 输入域(textarea)只读状态下的样式 ********************/
.emp_field_readonly .emp_field_textarea_textarea {border-color: #c2c2c2;background-color: #e3e3e3;}

/************************ 日期输入框(empext:date)的样式 ************************/
	/*************** 输入框(input)普通状态下的样式 ********************/
.emp_field_date_input { /****** 长度固定 ******/
	width: 200px;text-align: left;border:1px solid #b7b7b7;}
/*************** 输入框(input)只读状态下的样式 ********************/
.emp_field_readonly .emp_field_date_input {border-color: #c2c2c2;background-color: #e3e3e3;}
/*************** 输入框(input)不可用状态下的样式 ********************/
.emp_field_disabled .emp_field_date_input {border-color: #ccc;color: #c2c2c2;background-color: #e3e3e3;}

/************************ 下拉框(empext:select)的样式 **************************/
	/************ 下拉框(select)普通状态下的样式 ****************/
.emp_field_select_select {width: 200px;text-align: left;border:1px solid #b7b7b7;}

.emp_field_select_input {display:none;border:1px solid #b7b7b7;text-align: left;}

/************ 下拉框(select)只读状态下的样式 ****************/
.emp_field_readonly .emp_field_select_select {display: none;}

.emp_field_readonly .emp_field_select_input {display: inline;width: 200px;border-color: #ccc;background-color: #e3e3e3;}

/************ 下拉框(select)不可用状态下的样式 ****************/
.emp_field_disabled .emp_field_select_select {border-color: #ccc;color: #c2c2c2;}

.emp_field_disabled .emp_field_select_input {border-color: #ccc;color: #c2c2c2;background-color: #e3e3e3;}

/******************* 链接(empext:link)的样式 ***************************/
	/************ 链接(a)普通状态下的样式 ****************/
.emp_field_link_a {padding-left: 2px;padding-right: 2px;}

/********************* 复选框(empext:checkbox)的样式 *******************/
.emp_field_disabled .emp_field_checkbox_input {border-color: #b7b7b7;}

/********************* 单选框(empext:radio)的样式 *******************/
.emp_field_disabled .emp_field_radio_input {border-color: #ccc;color: #c2c2c2;}

/********************* 弹出框(empext:pop)的样式 *******************/
	/************ 弹出框普通状态下的样式 ****************/
.emp_field_pop_input { /****** 长度固定 ******/
width: 200px;text-align: left;border:1px solid #ccc;}
.emp_field_readonly .emp_field_pop_input {display: inline;width: 200px;border-color: #b7b7b7;background-color: #e3e3e3;}

/************ 弹出框不可用状态下的样式 ****************/
.emp_field_disabled .emp_field_pop_input {border-color: #ccc;color: #c2c2c2;background-color: #e3e3e3;}

.emp_field_disabled .emp_field_pop_button {display: none;}

/******************************** 日期弹出组件的样式 **********************************/
.calendar td {font-family: "宋体", "Times New Roman";}

.calendar {position: absolute;width: 140px !important;width: 142px;height: 184px !important;height: 174px;
background-color: #ffffff;border: 1px solid #909eff;left: 0px;top: 0px;z-index: 9999;}

.cdrHeader {background-color: #909EFF;width: 140px;height: 22px;font-size: 12px;color: #ffffff;}

.cdrWatermark {position: absolute;left: 0px;top: 55px;width: 140px;font-family: "Arial Black";font-size: 50px;
color: #d4d4d4;z-index: 1;text-align: center;}

.cdrBodyBar {background-color: #f4f4f4;font-family: "宋体", "Times New Roman";font-size: 12px;color: #000000;width: 140px;height: 20px;}

.cdrBody {width: 140px;height: 122px !important;height: 110px;font-family: "宋体", "Times New Roman";font-size: 12px;cursor: pointer;color: #000000;}

.dayOver {height: 16px;padding: 0px;border: 1px solid black;background-color: #f4f4f4;}

.dayOut {padding: 1px;border: none;height: 16px;}

.menuOver {background-color: #909EFF;color: #ffffff;font-family: "宋体", "Times New Roman";font-size: 12px;}

.headerOver {border: 1px solid black;background-color: #f4f4f4;color: black;cursor: default;}

.cdrMenu {font-family: "宋体", "Times New Roman";font-size: 12px;border: 1px solid #000000;background-color: #ffffff;cursor: default;width: 100%}

html>body #Calendar {width: 142px;}

#Calendar_iframe {width: 142px;}

.page_content {padding:0;margin:0;overflow:auto;}/*special*/
.tag_01on {background: url(../images/tag_01on.gif) no-repeat left top;padding:5px 0px 0px 5px;*padding:0px 5px 0px 5px;_padding:0px 0px 0px 5px;}
.tag_01on a:link {font-size: 12px;color: #fff;text-decoration: none;background: url(../images/tag_02on.gif) no-repeat right top;
padding:5px 0px 0px 0px;font-weight: bold;}
.tag_01on a:visited {font-size: 12px;color: #FFF;text-decoration: none;background: url(../images/tag_02on.gif) no-repeat right top;
padding:5px 0px 0px 0px;*padding:5px 0px 0px 0px;_padding:5px 5px 0px 0px;font-weight: bold;}
.tag_01on a:hover {font-size: 12px; color: #fff; text-decoration: none;font-weight: bold;}
.tag_01on a:active {font-size: 12px; color: #fff; text-decoration: none;font-weight: bold;}
.tag_01off {background: url(../images/tag_01off.gif) no-repeat left top;padding:5px 0px 0px 5px;*padding:0px 0px 0px 5px;_padding:0px 0px 0px 5px;}
.tag_01off a:link {font-size: 12px;color: #206394;text-decoration: none;
background: url(../images/tag_02off.gif) no-repeat right top;padding:5px 5px 0px 0px;}
.tag_01off a:visited {font-size: 12px;color: #206394;text-decoration: none;background: url(../images/tag_02off.gif) no-repeat right top;
padding:5px 5px 0px 0px;}
.tag_01off a:hover {font-size: 12px; color: #206394; text-decoration: none;}
.tag_01off a:active {font-size: 12px; color: #206394; text-decoration: none;}

button.table_btn {color:#020000;height:18px;line-height:18px;cursor:pointer;}
#emp_pq_jumpInput{width:30px;height: 17px;border:1px solid #b7b7b7;text-align:center}	
#emp_pq_maxLine{width:30px;height: 17px;border:1px solid #b7b7b7;text-align:center;}

.emp_form_div {background:url(../images/center_bg.gif) no-repeat;width:100%;margin: 0px 0px 10px 0px;padding:5px }	
.emp_field_pop_button{color:#282828;width:40px;height:20px;line-height:20px;cursor:pointer;margin:0px 0px 0px 5px;font-size: 12px;
border:none;background:url(../images/green/QZ_btn2.png) no-repeat center center;}
.emp_field_pop_button:hover{color:#fff;width:40px;height:20px;line-height:20px;cursor:pointer;margin:0px 0px 0px 5px;font-size: 12px;
border:none;background:url(../images/green/QZ_btn2_hover.png) no-repeat center center;}

.css4grt1 {width: 450px; text-align: left;border:1px solid #b7b7b7;}
/***** 标准状态input框的css(隐藏)*****/
.css4grt2 { display: none;text-align: left;border:1px solid #b7b7b7;}

/************ 下拉框(select)只读状态下的样式 ****************/
.emp_field_readonly .css4grt1{display: none;background-color: #e3e3e3;}
/************ 文本框(input)只读状态下的样式 ****************/
.emp_field_readonly .css4grt2{display: inline;border-color: #ccc;background-color: #e3e3e3;width:450px;}

/*下边的如果不需要，可以不加*/
/************ 下拉框(select)不可用状态下的样式 ****************/
.emp_field_disabled .css4grt1{border-color: #ccc;color: #c2c2c2; background-color: #e3e3e3;}

.emp_field_disabled .css4grt2{border-color: #ccc;color: #c2c2c2;background-color: #e3e3e3;}

/*** 针对22位流水号长度超过普通text框,设通用22位流水号样式	add_by_GC_20130718 ***/
.emp_field_common_serno{border: 1px solid #ccc;background-color:#e3e3e3;text-align: left;width: 210px;}
/*** 机构名称较长,设通用机构名称显示样式	add_by_GC_20130718 ***/
.emp_pop_common_org{border: 1px solid #b7b7b7;text-align: left;width: 230px;}
/*只读的金额类型文本框*/
.emp_currency_text_readonly {border: 1px solid #ccc;background-color:#e3e3e3;text-align: left;width: 200px;}

/**240PX的只读文本框  **/
.emp_field_text_readonly {border: 1px solid #ccc;background-color:#e3e3e3;text-align: left;width: 240px;}

/***客户名称文本框***/
.emp_field_text_cusname {border: 1px solid #b7b7b7;text-align: left;width: 450px;}

/***客户名称文本框只读***/
.emp_field_text_cusname_readonly {border: 1px solid #ccc;background-color:#e3e3e3;text-align: left;width: 450px;}

/***跨两列长文本域:只读***/
.emp_field_textarea_readonly {border: 1px solid #ccc;background-color:#e3e3e3;text-align: left;width: 628px;height: 50px;}
/***跨两列长文本框：非只读***/
.emp_field_text_long{border: 1px solid #b7b7b7;background-color:#fff;text-align: left;width: 628px;}

/**跨两列长文本框：只读**/
.emp_field_text_long_readonly{border: 1px solid #ccc;background-color:#e3e3e3;text-align: left;width: 628px;}

/** 60长度的下拉框  **/
.field_select_60{width: 60px;border-width: 1px;border-color: #b7b7b7;border-style: solid;text-align: center;}
/*add style*/
#emp_table_CusTrusteeAppList_div{margin-top:10px;}
.emp_gridlayout_titles{font-size:14px;font-family:Microsoft Yahei;}
.emp_rpt_whole_table{font-family:"宋体";font-size:12px;}
.emp_rpt_whole_table .emp_gridlayout_titles{text-indent:40px;font-size:16px;}
.emp_gridlayout_td{text-indent:10px;}

#emp_pq_first.table_btn,#emp_pq_last.table_btn,#emp_pq_jumpButton.table_btn,#emp_pq_previous.table_btn,
#emp_pq_next.table_btn{width:auto;margin:0;margin-right:5px;}
#emp_pq_jumpButton.table_btn{width:auto;margin:0 5px;}
#emp_pq_previous.table_btn{padding-left:0px;margin:0;margin-right:5px;}
/**#emp_pq_previous.table_btn{padding-left:20px;background:url(../images/green/QZ_pre.png) no-repeat left center;margin:0;margin-right:5px;}
#emp_pq_next.table_btn{padding-right:20px;background:url(../images/green/QZ_next.png) no-repeat right center;margin:0;margin-right:5px;} 上一页与下一页去掉按钮 2014-06-09*/
#emp_pq_next.table_btn{padding-right:0px;margin:0;margin-right:5px;}
.emp_table .QZ_pages{vertical-align:middle;line-height:18px;height:18px;padding:5px 0;_line-height:25px;}

.emp_field_text_input2{border:1px solid #b7b7b7;text-align:left;width:350px;}
.emp_field_label {vertical-align: top;padding-top: 4px;text-align: right;}
.emp_field_text_input2 {border: 1px solid #b7b7b7;ext-align: left;width: 450px;}
.emp_field_select_select1 {width: 450px;border: 1px solid #b7b7b7;text-align: left;background-color: #e3e3e3;}


.note{padding:20px;text-align:left;border:1px solid #b7b7b7;line-height:24px;margin:10px auto;background-color:#e1e1e1;}
.note_tips{font-weight:700;}

#appDetails_div{border-bottom:1px solid #b7b7b7;margin-bottom:10px;}
.selectDiv {border-color: #34af07;position: relative;background-color: #34af07;color: #fff;padding:0 5px 0 0;}
#improtForm table{font-size:12px;}
.page_content table{font-size:12px;}
.lab{color:#222;padding-top:10px;padding-bottom:10px;display:block;}
.emp_field_text_input_user_name{width: 451px;text-align: left;border:1px solid #b7b7b7;}
#buttonDiv{text-align:right;}
.emp_field .emp_field_textarea_textarea{width:450px;height:100px;}
.emp_field_textarea_organlevel {width:450px;height:100px;border:1px solid #b7b7b7;background-color:#e3e3e3;}
.emp_field_textarea_textarea1{width:450px;height:100px;border:1px solid #b7b7b7;background-color:#e3e3e3;}



/*welcome.jsp*/
.QZ_loginBpdy{text-align:center;}
#QZ_loginBox{width:520px;height:auto;margin:200px auto auto auto;border:1px solid #b7b7b7;padding-bottom:20px;}
#QZ_loginBox .emp_gridlayout_title{color:#fff;background:#34af07;border:none;border-bottom:1px solid #b7b7b7;}
#QZ_loginBox .emp_group_div{border:none;padding:20px 0;}
#QZ_loginBox #dataGroup_in_formsubmitForm.emp_group_div{padding:0;}
#QZ_loginBox .emp_gridLayout_table{width:100%;}
#QZ_loginBox .emp_field_label{width:145px;}

/*2014-5-20*/
legend{color:#020000;}
.emp_pop_common_org.QZ_emp_pop_common_org{width:200px;}
#dataGroup_in_formsubmitForm.emp_group_div{padding:0 10px 10px 10px;}
/*联系电话可编辑*/
.QZ_telnum{border:1px solid #b7b7b7;width:200px;}
.QZ_telnum_readonly{border:1px solid #ccc;background-color:#e3e3e3;width:200px;}
/*2014-5-21*/
.QZ_menberBox{border-top:1px solid #c2c2c2;padding:10px 0;}
.emp_field_text_write{width:240px;border:1px solid #b7b7b7;}
.QZ_pages{padding:8px 5px;text-align:right;}

/*5-24*/
#dataGroup_in_formmessgaebox{font-size:14px;margin:10px auto;}
.emp_group_div{overflow:auto;}

/*5-26*/
.QZ_tableMsg td{padding-right:5px;}
.QZ_tableMsg td span{padding-left:3px;}


